*{
    font-family: sans-serif;
}
body{
    background-color: blueviolet;
    color: white;
}

#presentación{
    text-align: center;
    width: 100%;
    height: 100%;
}

#contenedor{
    width: 100%;
    margin:0px auto;
}

header{
    color:white;
    text-align:center;
    height: 70px;
    line-height: 70px;
}

nav{
    background-color: darkslategrey;
    height: 70px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-radius: 8px;
}

nav a{
    color: white;
}

nav ul li{
    float: left;
    margin: 10px;
    list-style: none;
    line-height: 30px;
    background-color: deeppink;
    width: 45%;
    border-radius: 8px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    text-align: center;
    padding: 3px;
}

nav ul li:hover{
    float: left;
    margin: 10px;
    list-style: none;
    line-height: 30px;
    background-color: darkmagenta;
    width: 45%;
    border-radius: 8px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    text-align: center;
    padding: 5px;
}

nav ul li img{
    width: 30px;
    height: 30px;
}

#contenido{
    float: right;
    width: 80%;
    height: 100%;
    text-align: center;
}
#contenido a{
    text-decoration: none;
}

#contenido a:link{
    color:pink;
}

#contenido a:hover{
    color:deeppink;
}

#contenido a:visited{
    color:darkred;
}

#contenido ul li{
    margin: 10px;
    list-style: none;
    line-height: 30px;
    background-color: darkolivegreen;
    border-radius: 8px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding: 3px;
    display: inline;
}

aside{
    float: left;
    width: 15%;
    border-radius: 8px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    margin: 5px;
    background-color: darkslategrey;
    text-align: center;
    line-height: 40px;
}

aside nav{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    margin: 5px;
    height: auto;
    border-radius: 8px;
    background-color: deeppink;
}


aside nav img{
    margin: 2px;
    width: 40%;
    height: 40%;
}

a{
    color: white;
}

h1 {
    color: yellow;
}

footer{
    bottom: revert;
    background-color: darkolivegreen;
    color: yellow;
}